.MenuItem {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    border: solid 1px #000;
    padding: 15px;
    color: #000000;
}

.MenuItem:hover {
    background: #e7e7e7;
}

.MenuItem img {
    width: auto;
    height: 100%;
}

.MenuItem .text-block {
    margin: 0 40px;
    font-size: 24px;
}

.MenuItem .text-block p {
    margin: 0;
}

.MenuItem .text-block span {
    display: block;
    font-weight: bold;
}

.MenuItem button {
    background: #61dafb;
    color: white;
    outline: none;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    align-self: center;
    margin-left: auto;
    padding: 5px 10px;
    transition: background 0.3s ease-in-out;
}

.MenuItem button:hover {
    background: royalblue;
}