.CartItem {
    width: 100%;
    border-bottom: solid 1px #000;
    margin-bottom: 10px;
    padding: 8px;
}

.CartItem:hover {
    background: lightgrey;
}

.CartItem:active {
    background: lightblue;
    color: white;
}

.CartItem p {
    margin: 0;
}