.CustomerForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.CustomerForm input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.CustomerForm p {
    font-size: 20px;
    font-weight: bold;
}